################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/03fe06df-5dcf-40f2-98fe-4fc850399acb.vsidx
